* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/bg.jpg");
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.734);
  /* border-radius: 12px; */
  backdrop-filter: blur(19px) saturate(180%);
  border: 1px solid rgba(0, 0, 0, 0.856);
  display: flex;
  flex-direction: row;
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}